# Default ignored files
/../../../../FH OÖ/Semester 3/WEB3_Prüfung/.idea/shelf/
/../../../../FH OÖ/Semester 3/WEB3_Prüfung/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../FH OÖ/Semester 3/WEB3_Prüfung/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../FH OÖ/Semester 3/WEB3_Prüfung/.idea/dataSources/
/../../../../FH OÖ/Semester 3/WEB3_Prüfung/.idea/dataSources.local.xml
